<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro_Excel Modify</title>
</head>
<body>
    <h3>Modify for book: {{name}}</h3>
    <form method="post">
        <label for = "author">Author</label><br>
        <input type = "text" name = "author" value = "{{author}}" /><br>
        <label for = "price">Price</label><br>
        <input type = "text" name = "price" value = "{{price}}" /><br>
        <input type = "submit" value = "Submit" />
    </form>
    
</body>
</html>